.app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  text-align: center;
	align-items: center;
  justify-content: center;
	height: 100vh;
}

.app-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
	justify-content: center;
  margin-top: 88px;
}

.header-label {
  margin-bottom: 0px;
  font-family: "Barlow", monospace;
  font-weight: 500;
	font-size: 48px;
  background-image: linear-gradient(
    90deg,
    #000000 0%,
    #000000 49.64%,
    #000000 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.text-body1 {
	font-family: "Barlow";
  font-size: 20px;
	display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "Barlow";
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  text-align: center;
  display: flex;
  letter-spacing: 0.6px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 8px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-content {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app-content {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app-content {
    width: 55%;
  }
}
